[Unit]
Description=ally-motion-evdev gyro service

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/usr/bin
ExecStartPre=/usr/bin/sleep 15
ExecStart=/usr/bin/ally-motion-evdev

[Install]
WantedBy=default.target
